.App {
  max-width: 960px;
  margin: 0 auto;
}

body {
  background: #f5f5f5;
}

a {
  color: 0f1b23;
}

.App-header {
  margin: 30px 0;
}

.App-dictionary {
  max-width: 200px;
  display: block;
  margin: 0 auto;
}

.App-footer {
  text-align: center;
  margin: 30px 0;
}
